<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="./css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Erik Pinho. It uses data from map</p>
            <img class="portrait" src="./img/1.png" >
        </div>
        
        {{>footer}}
    </body>
</html>